* {
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}


/* ----------------Desktop main style--------------*/
main{
  padding-top:3.125rem;
 /* display:flex; */
  background-image: url(./resources/codeback.jpg);
  background-position: 0% 93%;
  background-size:cover;
  justify-content: flex-end;
  color: white;
  
}

#tag1{
    padding-left: 38rem;
    
}

.main-title{
  font-size: 2rem;
  display:block;
}

.prf2{
  display: none;
}

.subtIndex {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#logo-begin{
  width: 4rem;
  height:  1rem;
}

.register{
  padding: 2rem 7rem 2.5rem 2rem;
  min-height: 400px;
  font-size: 2.5rem ;
}

.name{
  color:#00ccc6;
  font-size: 3rem;
  font-weight:bold;
}

.tech, .arts{
  color: #FFF;
  font-size: 2.5rem;
  font-weight: bold;
}

.typoCursive{
  font-style: italic;
}

.colorAccent{
  color:#00ccc6;
  font-weight:bold;
  font-size: 2rem;
}

.register {
  margin: auto;
}

.introTxt {
  padding: 7rem 0rem 0rem 7rem;
  margin: 4rem
  float: left;
}

@media only screen and (max-width: 600px) {
    .register{
        margin-left: 95%;
        margin-top: -150px;
        height: 100px; 
    }
    
}
.rowIcons {
  margin-left: 85%;
  margin-top: -150px;
  height: 200px;
}

.mobile{
  display:none;
}

.mobile-text{
  display:none;
}


header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding: 0.625rem 1.25rem;
  height: 3.125rem;
  background-color: #2b2b2b;
  background-size: cover;
  width: 100%
}

nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #2b2b2b;
  display: flex;
}

nav ul {
  overflow: hidden;
  list-style: none;
}

nav ul li {
  float:right;
}

nav ul li a{
  
  font-size: 1rem;
  color: #FFF;
  display: flex;
  justify-content: flex-end;
  padding-left: .5rem;
  padding-right: .5rem;
  text-decoration: none;
  font-size: .99rem;
  padding: .5rem;
}

nav ul li a:hover {
    border-style: solid;
    border-color: #00ccc6;
    border-width: thin;
    padding: .5rem;
}




/* ----------------Mobile nav style--------------*/

.greetings{
  border-style: solid;
  border-color: gray;
  border-width: thin;
  text-align: center;
  margin: 3rem;
  padding: 1rem;
  font-size: 1.7rem;
  color: #6a6a6a;
  font-weight: 500;
  width: 9rem;
  float: left;
  max-width: 60%;
}

.tagDark{
  color: #6a6a6a;
}

.tags{
  border-style: solid;
  border-color: gray;
  border-width: thin;
  text-align: center;
  margin: 3rem;
  padding: 1rem;
  font-size: 1.7rem;
  color: #cacaca;
  font-weight: 500;
  width: 13rem;
}

.titles{
  width: 100%;
  display: flex;
  overflow: auto;
  justify-content: center;
}

.bioTxt {
  font-size: 1.3rem;
  color: #6a6a6a;
  text-align: left;
  float: right;
  margin-left: 3rem;
}

.bioPic {
  padding-top: 4rem;
  padding-left: 2rem;
  max-width: 33%;
  float: left;
  
}
.downloadInfo{
  overflow: auto;
}

.aboutMe{
  min-height: 500px;
}

.bioInfo{
  float: left;
  max-width: 60%;S
}

#skills{
  background-color: #353535;
  min-height: 610px;
}

.skillIcon{
  overflow: auto;
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sum{
  color: #00ccc6;
  font-size: 4rem;
  font-weight: 700;
}

.describe{
  color: #FFF;
  font-size: .99rem;
  font-weight: 500;
  text-align: center;
}

#contactMe{
  background-color: #353535;
}

::placeholder {
  color: #d6d6d6;
  font-style: italic;
  font-weight: 200;
}

form{
  border-width: thin;
  border: white;
  border-style: solid;
  padding: 2rem;
  margin: 2rem;
  overflow: auto;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.formBox{
  border-radius: .6rem;
  background-color: transparent;
  color: #FFF;
  outline: none;
  border: 2px solid #00ccc6 ;
  padding: .7rem;
  margin: .7rem;
  width: 20rem;
}

.contactAsk{
  color: #cacaca;
  font-size: .9rem;
  font-weight: 600;
}

.sendBtn{
  background-color: #00ccc6;
  border: none;
  color: #FFF;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 7rem;
  font-weight: bold;
}

#proyects{
  background-color: #FFF;
  min-height: 500px;
}
